[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
databases = {extras = ["asyncpg"], version = "*"}
asyncpg = "*"
google-generativeai = "*"
httpx = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
